.all {
  background-color: #282c34;
  color: white;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.page {
  font-size: 1.4em;
  padding: 3em;
}

.padding-small {
  padding: 1em;
}

.big-text {
  font-size: 2em;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
